apiVersion: ran.openshift.io/v1alpha1
kind: ClusterGroupUpgrade
metadata:
  name: cgu-cluster-selector
  namespace: default
  annotations:
    cluster-group-upgrades-operator/name-suffix: kuttl    
spec:
  managedPolicies:
    - policy1-common-cluster-version-policy
    - policy2-common-pao-sub-policy
    - policy3-common-ptp-sub-policy
    - policy4-common-sriov-sub-policy
  enable: false
  clusterLabelSelectors:
    - matchLabels:
        upgrade2: true
    - matchExpressions:
        - key: upgrade
          operator: Exists
  clusters:
  - spoke1
  - spoke2
  - spoke5
  - spoke6
  remediationStrategy:
    maxConcurrency: 2

