apiVersion: ran.openshift.io/v1alpha1
kind: ClusterGroupUpgrade
metadata:
  name: cgu-a
  namespace: default
spec:
  managedPolicies:
    - policy1-common-cluster-version-policy
    - policy2-common-pao-sub-policy
    - policy3-common-ptp-sub-policy
  blockingCRs:
  - name: cgu-c
    namespace: default
  enable: false
  clusters:
  - spoke1
  - spoke2
  - spoke3
  remediationStrategy:
    canaries:
    - spoke1
    maxConcurrency: 2

